{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <title>RaspberryBot Controller</title>

    <!-- Stylesheet includes -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% block extra_css %}{% endblock extra_css %}

    <!-- Javascript includes -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
