{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <title>RaspberryBot Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- Stylesheet includes -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% block extra_css %}{% endblock extra_css %}

    <!-- Javascript includes -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</head>

<body>
    <img src="http://{{ request.META.HTTP_HOST|slice:"-5" }}:8090/?action=stream" width="100%">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
